.header {
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 99;
}

.menu {
    width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
}

    .navbar {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

        #logo {
            margin-left: 20px;
            margin-right: 31px;
        }

        #divider, .navselectors {
            margin-left: 0;
            margin-right: 31px;
            color: white;
        }

        .navselectors {
            font-size: 15px;
            font-family: 'Raleway', sans-serif;
            font-style: italic;
            font-weight: 600;

            transition: 0.4s;
        }

        .navselectors:hover {
            /* transform: scale(1.3); */
            /* text-shadow: 0.5px 0.5px #d4c580, 1px 1px #d4c580, 1.5px 1.5px #d4c580, 2px 2px #d4c580, 2.5px 2.5px #d4c580; */
            /* text-shadow: 0.5px 0.5px #B3AE98, 1px 1px #CDB493, 1.5px 1.5px #3A372C, 2px 2px #575651, 2.5px 2.5px #716858; */
            text-shadow: 0px 2px rgba(255, 0, 0, 0.5), 0px -2px rgba(0, 0, 255, 0.5), 2px 0px rgba(0, 255, 0, 0.5);
            transform: translateX(-4px) translateY(-4px) scale(1.3);

            transition: 0.4s;
        }

    .iconbar {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-right: 20px;
        margin-left: auto;
    }

        .fab {
            color: white;
            font-size: 20px;
            margin-left: 20px;

            transition: 0.4s;
        }

        .fab:hover {
            transform: translateX(-4px) translateY(-4px) scale(1.3);

            transition: 0.4s;
        }
        .fa-soundcloud:hover {
            text-shadow: 0.5px 0.5px #ffb24e, 1px 1px #ffae44, 1.5px 1.5px #ffa229, 2px 2px #ffa229, 2.5px 2.5px #ff950b;
        }
        .fa-instagram:hover {
            text-shadow: 0.5px 0.5px #f1b15d, 1px 1px #ec6a36, 1.5px 1.5px #f5a449, 2px 2px #a318ce, 2.5px 2.5px #cc437c;
        }