@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zhi+Mang+Xing&display=swap');
    
@font-face {
    font-family: apple;
    src: local("/Users/aethlis/Documents/CODING/personalpage/AppleSDGothicNeo.ttc");
}

@font-face {
    font-family: apple-Bold;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoB.ttf");
}
@font-face {
    font-family: apple-ExtraBold;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoEB.ttf");
}
@font-face {
    font-family: apple-Heavy;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoH.ttf");
}
@font-face {
    font-family: apple-Light;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoL.ttf");
}
@font-face {
    font-family: apple-Medium;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoM.ttf");
}
@font-face {
    font-family: apple-Regular;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoR.ttf");
}
@font-face {
    font-family: apple-SemiBold;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoSB.ttf");
}
@font-face {
    font-family: apple-Thin;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoT.ttf");
}
@font-face {
    font-family: apple-UltraLight;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoUL.ttf");
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


/* ------------------------------------------------- */

.container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.page {
    display: flex;
    justify-content: center;
}

.midcontent {
    width: 1280px;
    height: 100%;
    position: relative;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}


/* page 1 css */

.pageone {
    width: 100%;
    height: 100vh;
    position: relative;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageone img
{
    position: fixed;
    z-index: -100;
}

    .page1background {
        width: 3123px;
        height: 1600px;
        margin-top: 200px;
        filter: blur(7px) brightness(1.3);
    }

    .midone {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bigname {
        width: 300px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        font-family: 'Zhi Mang Xing', cursive;
        font-weight: 400;
        position: absolute;
        color: white;
        text-shadow: 0px 0px 30px black;
        opacity: 0;
        border-radius: 30px;
        cursor: pointer;

        transition: 0.4s;
    }

    .bigname-wrapper {
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bigname:hover {
        transform: scale(1.3);
        
        transition: 0.4s;
    }


/* page 2 css */

.pagetwo {
    position: relative;
    width: 100%;
    height: 4092px;
    z-index: 10;
    background-color: #1F1F1F;
}

    .midtwo {
        display: flex;
        /* justify-content: center; */
        flex-flow: column nowrap;
        
    }

    .pagetwo-wrapper {
        width: 100%;
        height: fit-content;
    }

    .aboutMeShortWrapper {
        width: 100%;
        height: 796px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .aboutMeShort {
            width: 1002px;
            height: 296px;
            display: flex;
            flex-flow: row;
            justify-content: center;
        }

            .aboutMeShort-photo {
                width: 456px;
                height: 288px;
                border: white solid 4px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 3;
            }

            .meShort-photo {
                width: 110%;
                z-index: 1;
            }

        .aboutMeShort-text {
            width: fit-content;
            height: 296;
            margin-left: 21px;
        }

            .textOne, .textTwo, .textThree{
                width: fit-content;
                height: 80px;
                margin-bottom: 19px;

                /* box-shadow: 0 0 30px 3px black inset; */

                overflow: hidden;
            }

                .textOne {
                    margin-top: 9px;
                    margin-bottom: 19px;
                }
                .textTwo {
                    margin-bottom: 19px;
                }
                .textThree {
                    margin-bottom: 9px;
                }

                    .textOneChange, .textTwoChange, .textThreeChange{
                        width: fit-content;
                        height: fit-content;
                    }

                    .textOneChange {
                        animation: textrollone 15s infinite;
                        animation-delay: 0s;
                    }
                    .textTwoChange {
                        animation: textrolltwo 15s infinite;
                        animation-delay: 1s;
                    }
                    .textThreeChange {
                        animation: textrollthree 15s infinite;
                        animation-delay: 2s;
                    }

                        #codeName {
                            font-family: "apple", sans-serif;
                            font-weight: bold;
                            font-size: 67px;
                            color: white;
                            margin-bottom: 80px;
                        }
                        .changingText {
                            font-family: "apple", sans-serif;
                            font-weight: 300;
                            font-size: 67px;
                            color: white;
                            font-weight: 100;
                            margin-bottom: 80px;
                        }

    
    .lineWrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

                    

            


/* animations */

.opacity-ani {
    animation: opacity-ani 1s 1;
    opacity: 1;
}

.rev-opacity-ani {
    animation: rev-opacity-ani 1s 1;
    opacity: 0;
}

@keyframes opacity-ani {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rev-opacity-ani {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes textrollone{
    0% {
        transform: translateY(0px);
    }

    33% {
        transform: translateY(-160px);
    }

    66% {
        transform: translateY(-320px);
    }

    100% {
        transform: translateY(-480px);
    }
}
@keyframes textrolltwo{
    0% {
        transform: translateY(0px);
    }

    33% {
        transform: translateY(-160px);
    }

    66% {
        transform: translateY(-320px);
    }

    100% {
        transform: translateY(-480px);
    }
}
@keyframes textrollthree{
    0% {
        transform: translateY(0px);
    }

    33% {
        transform: translateY(-160px);
    }

    66% {
        transform: translateY(-320px);
    }

    100% {
        transform: translateY(-480px);
    }
}

