.pageone {
    width: 100%;
    height: fit-content;
}

.midone {
    display: flex;
    justify-content: center;
}

.contentHolder {
    width: 1020px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.projectName {
    height: fit-content;
    width: fit-content;
    margin-top: 110px;
    font-size: 30px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.projectTitle {
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.projectLightText {
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.projectSubTitle {
    height: fit-content;
    width: fit-content;
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-style: italic;
}

.contentPage1 {
    width: calc(100% - 8px);
    height: 450px;
    border: solid white 4px;
    margin-top: 10px;
    margin-bottom: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    background-color: #FEF6E1;
    /* background-size: cover;
    background-position-y: -280px;
    background-image: url(./images/2020_3M_MTP/주제공감.jpg);
    background-repeat: no-repeat; */
}

.contentImage1 {
    width: 100%;
    margin-top: 100px;
    /* height: 105%; */
    object-fit: cover;
    filter: grayscale(100%);
}

.slideHolder {
    width: 100%;
    height: fit-content;
}

    .slide {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 300px;
        gap: 42px;
    }

    .slidePhotoFinal {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 300px;
        gap: 42px;
    }

    .reverseRow {
        flex-flow: row-reverse nowrap;
    }

        .slidePhoto {
            width: 520px;
            height: fit-content;
            overflow: hidden;
            display: flex;
            justify-content: center;
            border: solid white 4px;
            /* background-repeat: no-repeat;
            background-image: url(./images/2020_3M_MTP/주제공감2.jpg);
            background-size: cover;
            background-position-y: center; */
        }

        .slidePhotoResult {
            width: 520px;
            height: fit-content;
            overflow: hidden;
            display: flex;
            justify-content: center;
            justify-self: center;
            /* border: solid white 4px; */
            /* background-repeat: no-repeat;
            background-image: url(./images/2020_3M_MTP/주제공감2.jpg);
            background-size: cover;
            background-position-y: center; */
        }

            .slideImg {
                width: 100%;
                object-fit: cover;
            }
            .slideImgResult {
                width: 100%;
                object-fit: cover;
            }

        .slideText {
            width: 450px;
            height: 354px;
            color: white;
            font-family: 'apple', sans-serif;
            border: solid none 4px;
            font-weight: 200;
            font-size: 18px;
            text-align: justify;
            line-height: 1.8rem;
        }

        .slideTextResult {
            width: 450px;
            height: fit-content;
            color: white;
            font-family: 'apple', sans-serif;
            border: solid none 4px;
            font-weight: 200;
            font-size: 18px;
            text-align: justify;
            line-height: 1.8rem;
        }

        .slideTextOnly {
            width: 100%;
            height: fit-content;
            color: white;
            font-family: 'apple', sans-serif;
            border: solid none 4px;
            font-weight: 200;
            font-size: 18px;
            text-align: justify;
            line-height: 1.8rem;
        }

        .slideTextOnly-info {
            width: 100%;
            height: fit-content;
            color: white;
            font-family: 'apple', sans-serif;
            border: solid none 4px;
            font-weight: 200;
            font-size: 18px;
            text-align: justify;
            line-height: 2rem;
        }





        .boldFont {
            font-weight: 400;
        }


