@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zhi+Mang+Xing&display=swap');
    
@font-face {
    font-family: apple;
    src: local("/Users/aethlis/Documents/CODING/personalpage/AppleSDGothicNeo.ttc");
}

@font-face {
    font-family: apple-Bold;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoB.ttf");
}
@font-face {
    font-family: apple-ExtraBold;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoEB.ttf");
}
@font-face {
    font-family: apple-Heavy;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoH.ttf");
}
@font-face {
    font-family: apple-Light;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoL.ttf");
}
@font-face {
    font-family: apple-Medium;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoM.ttf");
}
@font-face {
    font-family: apple-Regular;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoR.ttf");
}
@font-face {
    font-family: apple-SemiBold;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoSB.ttf");
}
@font-face {
    font-family: apple-Thin;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoT.ttf");
}
@font-face {
    font-family: apple-UltraLight;
    src: local("/Users/aethlis/Documents/CODING/personalpage/Apple_산돌고딕_Neo/AppleSDGothicNeoUL.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;

    /* font-family: Helvetica, 		   
                '맑은 고딕', 'malgun gothic', 		   
                'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo',  		   
                'Microsoft NeoGothic',  		   
                'Droid sans', sans-serif; ; */
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.page {
    display: flex;
    justify-content: center;
}

.midcontent {
    width: 1280px;
    height: 100%;
    position: relative;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}

.midcontentAboutMe {
    width: 1280px;
    height: fit-content;
    position: relative;
    top: 0;
}

.midcontentSpecialWithoutHidden {
    width: 1280px;
    height: 100%;
    position: relative;
    top: 0;
    margin: 0 auto;
}